## Exercise Description:

Using the dataset given below, answer the following questions.

In [3]:
import pandas as pd

df = pd.DataFrame([['Edo','Obaseki','South',20],['Delta','Okwa','South',20],['Imo','Hope','South',10],['Lagos','Sanwolu','West',80],
                   ['Anambra','Soludo','East',16],['Ekiti','Fayemi','West',16],['Kano','Ganduje','North',20],['Kaduna','Elruai','North',80],['Ondo','Adebayo','West', 15]],
                   columns=['State','Governor','Region','Years_Created'])
df

     State Governor Region  Years_Created
0      Edo  Obaseki  South             20
1    Delta     Okwa  South             20
2      Imo     Hope  South             10
3    Lagos  Sanwolu   West             80
4  Anambra   Soludo   East             16
5    Ekiti   Fayemi   West             16
6     Kano  Ganduje  North             20
7   Kaduna   Elruai  North             80
8     Ondo  Adebayo   West             15

### Question One: 
Extract the states that are in the North region.

### Question Two:

Soludo is governor of which state?

### Question Three:

Which states were created 20 years ago?

### Question Four:

Which states were created over 15 years ago?

### Question Five:

The governor of Edo state is?

Once done with the assignment kindly tag me to your reply tweet on twitter with a link to your solution and I will check it out.