### Class: Extracting column values based on another column in Python

This class will teach you how to extract the value of a column based on what another column value is. 
In data analysis this is a very important skill to know because often a data analyst or scientist will need to 
identify some information based on a given condition or criteria.

#### Case Description:

You work as a data analyst with the Bureau of Statistics and your supervisor asked you to analyze the dollar-naira exchange rate dataset and identify what the exchange rate was for the month of August.

### Solution Task:
* Import necessary libraries.
* Create or load the dataset.
* Extract required information.

#### Import necessary libraries

In [2]:
import pandas as pd

#### Creating the dataset

In [4]:
df = pd.DataFrame({'Month':['January','Feburary','March','April','May','June',
                           'July','August','September','October','November',
                           'December'],
                  'Rate':[200,300,150,540,400,330,250,560,
                         430,480,470,500]})

#### Take a look at the dataframe

In [5]:
df.head()

      Month  Rate
0   January   200
1  Feburary   300
2     March   150
3     April   540
4       May   400

### Extract required information

Identify what the exchange rate was for the month of August.

In extracting column-based information in Python, there are several techniques or methods we can use. In this class we will learn four (4) of the available ways to extract column-based information.

1. using the pandas.Dataframe.query() method.
2. using the DataFrame.loc[] property.
3. using the DataFrame.item method.
4. using the DataFrame.values[] method

#### using the pandas.Dataframe.query() method.

In [6]:
df.query("Month == 'August'")['Rate']

7    560
Name: Rate, dtype: int64

This returns the column value along with the index label and column information.

#### using the DataFrame.loc[] property.

In [8]:
df.loc[df['Month']=='August','Rate']

7    560
Name: Rate, dtype: int64

This also returns the column value along with the index label and column information.

#### using the DataFrame.item method.

In [9]:
df.loc[df['Month']=='August','Rate'].item()

560

This only returns the column value without the index label and column information. However, this method can only convert an array of size 1 to a Python scalar. That is you can't use this method whe expecting multiple columns to be returned. See the example below where we attempt to retrieve months where the rate was 400 or above.

In [10]:
df.loc[df['Rate']>= 400,'Month'].item()

ValueError: can only convert an array of size 1 to a Python scalar

To remedy this problem we can use the next method (the .values) method to return a series and access the values result we want by using the necessary index location.

#### using the DataFrame.values[] method

In [12]:
#Solving the orginal task

df.loc[df['Month']== 'August','Rate'].values[0]

560

This returns the column value without the index label and column information as a series and we can use an index value or range e.g [0] to access the value we want.

#### Let us solve the error challenge when we used the .item() to try to get more than one value returned.

In [13]:
df.loc[df['Rate']>= 400,'Month'].values[0]

'April'

You will notice that we got a feedback this time instead of an error message. The question also is: Was it April alone rate was 400 or above? The answer is No but because we entered an index value of 0 we have just the first value in the series returned to us. We can get the second, third or a range by altering the index. Let us get the entire months the rate was 400 or above.

In [18]:
df.loc[df['Rate']>= 400,'Month'].values[0:7]

array(['April', 'May', 'August', 'September', 'October', 'November',
       'December'], dtype=object)

The result was returned as an array and we can see that the months where the rate was 400 and above are: April,May,August,September,October,November, and December.

#### Signing Out:

While there are other approaches to solve the task of extracting column values based on another column, the ones covered in this tutorial will be mostly sufficient for any type of task. Go on to practice it with a different dataset and master its use.

If you find this class tutorial useful and will want to keep a tab on subsequent ones, kindly following [Data Science Arena](https://twitter.com/@xtian4zy) on Twitter.